.row
  .large-9.columns
    %h2=@user.username
    %p=@user.about
  .large-3.columns
    .stats-box
      %h5 #{@user.username}'s stats
      .stat-label overall score
      .stat-data
        =@user.score.round(2)
      .clear
      .stat-label overall percentile
      .stat-data
        =@user.percentile
      .clear
      .stat-label current streak
      .stat-data
        -streak = @user.streaks.where(:game_id=>0).first
        =streak.streak
        =streak.direction