.row
  .large-12.columns
    %h2 About
    %p The purpose of this website is extremely basic:  to determine whether good or bad luck exists.  Assuming that it does not, and that everything is statistically random, over time a user's performance should trend towards the statistically mean performance expected of the game.  For example, is a user is asked to choose which of three cups is hiding a ball, with enough plays, the participant should choose correctly at a rate of 33.33%
    %p Math tells us this is what should happen.  Most people with a background in math, science or statistics will assure you that this would be the outcome, and I am pretty sure I agree with them.  But is it possible that something else might be at play, something that could cause a person to consistently deviate in one direction or another from the statistical norm?  Luck?  Intuition?  Fate?  Mysterious energies of the universe?  Is there any chance one of these could undo the statistics?
    %p That's what this website will help us find out.

