-content_for :head do
  %meta{:content => "Test Your Luck", :property => "og:title"}
  %meta{:content => "Good Luck", :property => "og:site_name"}
  %meta{:content => "Take an hourly luck test and see how you luck compares to people across the world.", :property => "og:description"}

.row
  .large-12.columns
    %h3 Luck.
    %h4 Some claim theirs is good.  Others say theirs is bad.  Many say it does not or cannot exist.  It's time to find out the truth.
    %p These 3 "games" of chance will test your luck and see how it compares to the rest of the world.  Come back once every 4 hours to try your luck again.
    %hr/
.row
  .small-12.medium-4.large-4.columns
    -game = Game.find(1)
    =render game
  .small-12.medium-4.large-4.columns
    -game = Game.find(2)
    =render game
  .small-12.medium-4.large-4.columns
    -game = Game.find(3)
    =render game
.row
  .large-12.columns
    .panel
      %h4 Spread the word!
      .row
        .large-10.columns
          %p The more people playing, the better.  Help us spread the word.
        .large-2.columns
          .fb-share-button{"data-href" => "https://developers.facebook.com/docs/plugins/", "data-layout" => "button"}

:javascript
  $(document).on('ready page:load', function(){
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1522911697961808',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

  });