-content_for :head do
  %title Good Luck Test
  %meta{:content => "Test Your Luck", :property => "og:title"}
  %meta{:content => "Good Luck", :property => "og:site_name"}
  %meta{:content => "Take an hourly luck test and see how you luck compares to people across the world.", :property => "og:description"}
  %meta{:content => 'Good Luck Test', :property => "title"}
  %meta{:property => "description", :content => 'Is it your lucky day?  Is your overall luck good or bad? Test your luck with these fun quick games and see how lucky you are compared to others across the world. '}
  %meta{:property => 'keywords', :content => 'luck,lucky,good,test,day,exam,how,game,press,lottery,play, competition'}
.row
  .large-12.columns
    %h3 Luck.
    %h4 Some claim theirs is good.  Others say theirs is bad.  Many say it does not or cannot exist.  It's time to find out the truth.
    %p These 3 "games" of chance will test your luck and see how it compares to the rest of the world.  Come back once every 4 hours to try your luck again.
    %hr
.row
  -Game.all.each do |game|
    .small-12.medium-6.large-3.columns
      =render game

.row
  .large-12.columns
    .panel
      %h4 Spread the word!
      .row
        .large-7.columns
          %p The more people playing, the better. Plus, games are better with friends, so please share widely!
          =social_share_button_tag("How Lucky Are You?")

        .large-5.columns
          .stats-box
            %h3 luckiest players - all time
            -User.all.order(score: :desc).limit(10).each do |s|
              .stat-label=s.username
              .stat-data=s.score.round(1)
              .clear
          .stats-box
            %h3 luckiest players - today
            -@todays_luckiest.each do |s|
              -if s.present?
                .stat-label=s.username

                .clear
:javascript
  $(document).on('ready page:load', function(){
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1522911697961808',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

  });