.row
  .large-12.columns
    %h3 Luck.
    %h4 Some claim theirs is good.  Others say theirs is bad.  Many say it does not or cannot exist.  It's time to find out the truth.
    %p These 3 "games" of chance will test your luck and see how it compares to the rest of the world.  Come back once every 4 hours to try your luck again.
    %hr/
.row
  .small-12.medium-4.large-4.columns
    -game = Game.find(1)
    =render game
  .small-12.medium-4.large-4.columns
    -game = Game.find(2)
    =render game
  .small-12.medium-4.large-4.columns
    -game = Game.find(3)
    =render game

