-content_for :head do
  %title Test your luck against others
  %meta{:content => "Test Your Luck", :property => "og:title"}
  %meta{:content => "Good Luck", :property => "og:site_name"}
  %meta{:content => "Take hourly luck tests and see how you luck compares to people across the world.", :property => "og:description"}
  %meta{:content => 'Good Luck Test', :property => "title"}
  %meta{:property => "description", :content => 'Is it your lucky day?  Is your overall luck good or bad? Test your luck with these fun quick games and see how lucky you are compared to others across the world. '}
  %meta{:property => 'keywords', :content => 'luck,lucky,good,test,how,game,crowd'}

.row
  .large-12.columns
    %h2 How it Works
    %p There are four games of luck, each of which is designed to test luck in a different way.  Each of these games takes just a moment to be played, and users can play them once an hour.
    %p For each game, a user will get a score based on their performance.  The higher the score, the better your luck in that moment.  Scores for each game will be averaged for an overall game score.  This score will be compared to the expected average for each game to determine whether you have experienced good or bad luck on that challenge (game rating).  Ratings for each of the 3 games will also be averages to provide an overall luck rating.
    %p A rating above 0 indicates better-than-average luck, while a negative score suggests your luck is bad.  Each 100 increase in your rating indicates a luck level one standard deviation from the mean.
    %p For each game, and overall as well, you will also be assigned a percentile.  This better shows how you are fairing compared to other players.  A percentile of 75% indicates that 75% of users have worse luck than you while just 25% have better luck.