.row
  .large-12.columns
    %h3 Luck Expressions
    %p There are lots of expressions in the english language involving luck.  Here are a few of the most common ones:

    a stroke of luck
    and one for luck
    as luck would have it
    bad luck
    be down on luck
    be in luck
    beginner's luck
    best of luck
    Better luck next time
    Diligence is the mother of good luck
    down on one's luck
    good luck
    hard luck
    have more luck than sense
    have the luck of the devil
    in luck
    Just my luck!
    Lots of luck!
    luck of the draw
    luck of the Irish
    luck out
    lucky streak
    no such luck
    out of luck
    pure luck
    push one's luck
    rotten luck
    run of luck
    tough luck
    try your luck

