.row
  .large-12.columns
    %h2 Privacy

    %h4 General policy
    %p We are not in the business of sharing your personal information with third parties.  Any info we ask for is for use on this website only.
    %h4 Info we require
    %p There is very little personal info we require for participating in the luck games. Here are the only requirements
    .row
      .large-11.large-offset-1.columns
        %h5 Email Address
        %p We ask for this to ensure that we can get in contact with you if needed.
        %h5 First name
        %p Just a basic name so we can personalize your experience.  Your name will not be shown to other users
    %h4 Optional personal info
    %p You don't have to give this to us, but if you do, it will be visible on your profile. You can provide this info to personalize your profile page.
    .row
      .large-11.large-offset-1.columns
        %h5 About
        %h5 Profile Picture
    %h4 Optional demographic info
    %p You don't have to give this to us, but if you do, we will not share it with anyone.  We request this data merely for the purposes of statistical fun so we can break down luck by country, age, etc.
    .row
      .large-11.large-offset-1.columns
        %h5 Gender
        %h5 Country
        %h5 Age

    %h4 What other users can see about you
    %p By default, other users can see your profile which contains your username, optional about/picture, and your performance stats.  Other users will also see your username and stats when viewing leaderboards.  If you do not want your stats to be publicly visible, you can toggle this in your user settings.

    %h4 Posting on Facebook
    %p You will be given an option of posting your performances and streaks on Facebook to share with your friends.  We will not do this without your explicit permission, and we will never post anything aside from what you specify.