=link_to game_path(game) do
  =image_tag(game.logo_url)
%h4.game-title=game.title
.game-desc
  =game.description
=link_to game_path(game) do
  %button{:type => "submit"}
    %i.fi-play
    Play #{game.title}
