#spinner_01.spinner.ridged.white_shadow.shadow{:value => "90"}
#spinner_02.spinner.ridged.white_shadow.shadow{:value => "90"}
#spinner_03.spinner.ridged.white_shadow.shadow{:value => "90"}
#spinner_04.spinner.ridged.white_shadow.shadow{:value => "90"}
#spinner_05.spinner.ridged.white_shadow.shadow{:value => "90"}