%p
  Select 5 numbers by using the up/down arrows or hovering over the number and scrolling.  Once your numbers are selected, click on the "Draw Numbers" button. You may need to reload the page if the number selectors do not appear.
#spinners
  #spinner_01.spinner.ridged.white_shadow.shadow{:value => "8"}
  #spinner_02.spinner.ridged.white_shadow.shadow{:value => "8"}
  #spinner_03.spinner.ridged.white_shadow.shadow{:value => "8"}
  #spinner_04.spinner.ridged.white_shadow.shadow{:value => "8"}
  #spinner_05.spinner.ridged.white_shadow.shadow{:value => "8"}
.clear
-if user_signed_in?
  %button.radius.button{:type => "submit", :id=>"submit-lottery"} Draw Numbers
-else
  =link_to "#", :data => { :reveal_id => 'myModal'} do
    %button.radius.button Draw Numbers

#entry
  .lottery.red
    %span
  .lottery.red
    %span
  .lottery.red
    %span
  .lottery.red
    %span
  .lottery.red
    %span
#results
  .lottery.blue-green
    %span
  .lottery.blue-green
    %span
  .lottery.blue-green
    %span
  .lottery.blue-green
    %span
  .lottery.blue-green
    %span
:javascript
  $(document).on('ready page:load', function(){
    var game_id = 1;
    $('#submit-lottery').click(function(){
      $(this).remove();

      var guesses = [];
      var answers = [];
      var nums = $('#entry').children();
      $('.spinner').each(function(key, value) {
        guesses.push(parseInt($(this).attr('value')));
        nums.eq(key).children().html($(this).attr('value'));
        nums.eq(key).css("display","inline");
      });
      $('#spinners').remove();

      var speed = 1000;
      var timer = setInterval(replaceArticle, speed);

      var divs =  $('#results').children();
      var length = divs.length;
      console.log(length);
      var index = 0;
      function replaceArticle() {
           divs.eq(index).css("display","inline");
           var num = Math.floor((Math.random() * 15) + 1);
           divs.eq(index).children().text(num);
           answers.push(parseInt(num));
           if(index==1) {
              $('.game-score').css("display","block");
           }
           index++;

           // remove timer after interating through all divs
           if (index >= length) {
               clearInterval(timer);
                var matches = 0;
                $.each( answers, function( key, value ) {
                  var index = $.inArray( value, guesses );
                  if( index != -1 ) {
                      console.log(guesses);
                      matches++;
                      guesses.splice(index,1);
                      console.log(guesses);
                  }
                });
                var score = Math.pow(matches+1,3);
                if(matches==0) score = 0;
                console.log("score: " + score);
                console.log("matches: " + matches);
                var data = {
                  score: score
                }
                $.post('/games/'+game_id+'/save_score', data);
           }

      }
    });
  });