%div{:style=>"position:relative;"}
  -@values.each do |v|
    .flip-container{:value=>v}
      .creation
        .front
          .cont
            %p
              %span.details flip me
        .back
          .cont
            %p
              %span.details
                =v
-if user_signed_in?

  :javascript
      var game_id = 2;
      var flip_count = 0;
      var score = 0;
       $('.flip-container').on('click', function() {
          if(flip_count < 3) {
            $(this).children().addClass('flipped');
            flip_count++;
            score += parseInt($(this).attr('value'));
            $('.score-value').text(score);
            if(flip_count == 1) {
              $.get('/games/'+game_id+'/init_score');
            }

            if(flip_count == 3) {
              var data = {
                score: score
              }
              $.post('/games/'+game_id+'/save_score', data);

            }
          }
        });

-else

  :javascript
    $('.flip-container').on('click', function() {
      $('#myModal').foundation('reveal', 'open');
    });