%p When you are ready, simply click the button.
%button.radius.button{:type => "submit", :id=>"submit"} Make Your Move
:javascript

  $('#submit').click(function(){
    if(eligible == "true") {
      $('#submit').remove();
      $('#response').css("display","block");
      $('.game-score').css('display','block');
      $.get('/games/spot_value');
    }
    else {
      $('#ineligible').foundation("reveal","open");
    }
  });


%button.radius.button{:style=>"display:none;", :id=>"response"}
