.row
  .large-9.columns
    .row
      .large-6.columns
        %h3.game-title
          =@game.title
      .large-6.columns
        .game-score.right
          .score-label Score:
          .score-value 0
    .game-desc
      =@game.description
    .section-container.tabs{"data-section" => ""}
      %section.section
        .content{"data-slug" => "panel1"}
          -case @game.id
          -when 1
            =render :partial => 'lottery'
          -when 2
            =render :partial => 'number_flip'
          -when 3
            =render :partial => 'spot_in_time'
          .completion-message
            .alert-box.success.radius{"data-alert" => ""}
              Your score is saved. Stats and ranking are updated hourly. You may play this game again in 3 hours
              %a.close{:href => "#"} &times;
      %section.section
        %h5.title
          %a{:href => "#panel2"} Comments
        .content{"data-slug" => "panel2"}
          .comments
            -if user_signed_in?
              = render :partial => 'comments/form', :locals => { :comment => @new_comment }
            = render :partial => 'comments/comment', :collection => @comments, :as => :comment
  .large-3.columns

    -if @user_ranking.present?
      .stats-box
        %h5 Your Stats
        .stat-label your score
        .stat-data
          =@user_ranking.score
        .clear
        .stat-label your percentile
        .stat-data
          ="#{@user_ranking.percentile}%"
    .stats-box
      %h5.title Best Luck
      -@best.each do |r|
        .stat-label=User.find(r.user_id).username
        .stat-data=r.score
        .clear
    .stats-box
      %h5.title Worst Luck
      -@worst.each do |r|
        .stat-label=User.find(r.user_id).username
        .stat-data=r.score
        .clear

#myModal.reveal-modal{"data-reveal" => ""}
  %h2 You are not signed in
  %p.lead You'll need to register to participate
  =link_to new_user_session_path do
    %button.radius.button Login/Signup
  %a.close-reveal-modal ×
