.row
  .large-9.columns
    .row
      .large-6.columns
        %h3.game-title
          =@game.title
      .large-6.columns
        .game-score.right
          .score-label Score:
          .score-value 0
    .game-desc
      =@game.description
    .section-container.tabs{"data-section" => ""}
      %section.section
        .content{"data-slug" => "panel1"}
          -if !user_signed_in? || @eligible_games.include?(@game.id)
            -case @game.id
            -when 1
              =render :partial => 'lottery'
            -when 2
              =render :partial => 'number_flip'
            -when 3
              =render :partial => 'spot_in_time'
          -else
            =render :partial => 'ineligible'
      %section.section
        %h5.title
          %a{:href => "#panel2"} Comments
        .content{"data-slug" => "panel2"}
          .comments
            -if user_signed_in?
              = render :partial => 'comments/form', :locals => { :comment => @new_comment }
            = render :partial => 'comments/comment', :collection => @comments, :as => :comment
  .large-3.columns

    -if @user_ranking.present?
      .stats-box
        %h5 Your Stats
        .stat-label your score
        .stat-data
          =@user_ranking.score
        .clear
        .stat-label your percentile
        .stat-data
          ="#{@user_ranking.percentile}%"
    .stats-box
      %h5.title Best Luck
      -@best.each do |r|
        .stat-label=User.find(r.user_id).username
        .stat-data=r.score
        .clear
    .stats-box
      %h5.title Worst Luck
      -@worst.each do |r|
        .stat-label=User.find(r.user_id).username
        .stat-data=r.score
        .clear

#myModal.reveal-modal{"data-reveal" => ""}
  %h2 You are not signed in
  %p.lead You'll need to register to participate
  =link_to new_user_session_path do
    %button.radius.button Login/Signup
  %a.close-reveal-modal ×
-if user_signed_in?
  #gameComplete.reveal-modal{"data-reveal" => ""}
    .green{:style =>"padding: 0 5px; margin-right: 10px;"}

      %h4
        Your score has been saved:
        .score-value 0
    -if @eligible_games.size > 1
      %h5 You are also currently elibile to play:
      =render :partial => 'eligible_games'
    -else
      %h5 You are not eligible to play any further games at the moment. Come back in an hour to play again.
    %a.close-reveal-modal ×