.row
  .large-9.columns
    %h3
      =@game.title
    %p
      =@game.description
    .section-container.tabs{"data-section" => ""}
      %section.section
        .content{"data-slug" => "panel1"}
          =render :partial => 'lottery'
          %button.radius.button{:type => "submit", :id=>"submit-score"} Submit
      %section.section
        %h5.title
          %a{:href => "#panel2"} Comments
        .content{"data-slug" => "panel2"}
  .large-3.columns
    %h4.title Game Stats
    .stats-box.dark-blue
      %h3 Your Stats
      .stat-label your score
      .stat-data
        =@user_ranking.score
      .clear
      .stat-label your percentile
      .stat-data
        ="#{@user_ranking.percentile}%"
    .stats-box.dark-blue
      %h5.title Best Luck
      -@best.each do |r|
        .stat-label=User.find(r.user_id).email
        .stat-data=r.score
    .stats-box.dark-blue
      %h5.title Worst Luck
      -@worst.each do |r|
        .stat-label=User.find(r.user_id).email
        .stat-data=r.score

:javascript
  $(document).ready(function(){
      $('#submit-score').click(function(){
        var data = {
            score: 76
        }
        $.post('/games/1/save_score', data);
      });
  });

