-content_for :head do
  %meta{:content => "Test Your Luck", :property => "og:title"}
  %meta{:content => "Good Luck", :property => "og:site_name"}
  %meta{:content => "Take an hourly luck test and see how you luck compares to people across the world.", :property => "og:description"}
.row
  .large-9.columns
    .row
      .large-6.columns
        %h3.game-title
          =@game.title
          .fb-share-button{"data-href" => "https://developers.facebook.com/docs/plugins/", "data-layout" => "button"}

      .large-6.columns
        .game-score.right
          .score-label Score:
          .score-value 0
    .game-desc
      =@game.description
    .section-container.tabs{"data-section" => ""}
      %section.section
        .content{"data-slug" => "panel1"}
          -if !user_signed_in? || @eligible_games.include?(@game.id)
            -case @game.id
            -when 1
              =render :partial => 'lottery'
            -when 2
              =render :partial => 'number_flip'
            -when 3
              =render :partial => 'spot_in_time'
          -else
            =render :partial => 'ineligible'
      %section.section
        %h5.title
          %a{:href => "#panel2"} Comments
        .content{"data-slug" => "panel2"}
          .comments
            -if user_signed_in?
              = render :partial => 'comments/form', :locals => { :comment => @new_comment }
            = render :partial => 'comments/comment', :collection => @comments, :as => :comment
  .large-3.columns

    .stats-box
      %h5 Game Stats
      .stat-label avg score
      .stat-data
        =@game.avg.round(2)
      .clear
      .stat-label times played
      .stat-data
        =@game.plays
    -if @user_ranking.present?
      .stats-box
        %h5 Your Stats
        .stat-label your score
        .stat-data
          =@user_ranking.score
        .clear
        .stat-label your percentile
        .stat-data
          ="#{@user_ranking.percentile}%"
    .stats-box
      %h5.title Best Luck
      -@best.each do |r|
        .stat-label=User.find(r.user_id).username
        .stat-data=r.score
        .clear
    .stats-box
      %h5.title Worst Luck
      -@worst.each do |r|
        .stat-label=User.find(r.user_id).username
        .stat-data=r.score
        .clear
    .stats-box
      %h5.title Hot Streaks
      -@streaks.each do |r|
        .stat-label=User.find(r.user_id).username
        .stat-data=r.streak
        .clear
#myModal.reveal-modal{"data-reveal" => ""}
  %h2 You are not signed in
  %p.lead You'll need to register to participate
  =link_to new_user_session_path do
    %button.radius.button Login/Signup
  %a.close-reveal-modal ×
-if user_signed_in?
  #gameComplete.reveal-modal{"data-reveal" => ""}
    .green{:style =>"padding: 0 5px; margin-right: 10px;"}

      %h4
        Your score has been saved:
        .score-value 0
    -if @eligible_games.size > 1
      %h5 You are also currently elibile to play:
      =render :partial => 'eligible_games'
    -else
      %h5 You are not eligible to play any further games at the moment. Come back in an hour to play again.
    %a.close-reveal-modal ×


:javascript
  $(document).on('ready page:load', function(){
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1522911697961808',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

    //ignore all this for now, just developing code to get additional permissions and gonna leave it here for now until publish_actions is allowed on app review
    $('#share2').click(function(){
      FB.login(function(response) {
        if (response.authResponse) {
          // user gave permission
        } else {
          // user did not give permission
        }
      }, {scope:'publish_actions'});
    });
    $('#share').click(function(){
      FB.api('/me/conversations', 'get',  {
          access_token : 'CAAVpFILIA1ABACHHZCScmjxjkNe9UufaZBkHgox8iq6SgcZBjEZCSAkVh5jJ29g2ONouiy724D4ogeViQCmWeiSSMbg1Ky0Csjf20fnIKPmSFTkJ9KRS8wLZA8VMXgZCw74yFVokOz9hXAvDko2WB4zRLTipld6XXwbeJt5uhmJLZB6CNv8nOtxxc850nUJ7XqEQc0e9LQhIQZDZD'
        },function(response) {
        console.log(response);
      });
    });
  });
