$('.score-value').html('#{@s}');
$('.score-label').html('Score Saved:');
$('.game-score').css('background-color','#A3D39C');
$('#response').html('You Picked: #{@s}');
$('#gameComplete').foundation('reveal', 'open');
