$('.score-value').html('#{@score}');
$('.score-label').html('Score Saved:');
$('.game-score').css('background-color','#E45F56');
$('.completion-message').css("display","block");
$('#response').html('You Picked: #{@score}');
