/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require flipper
 *= require spinner
 */

@import 'foundation-icons';

$dark-blue: #35404F;
$red: #E45F56;
$blue-green: #4AAAA5;
.blue {
	background-color: #7ACCC8 !important;
}
.blue-green {
	background-color: #4AAAA5 !important;
}
.red {
	background-color: #E45F56 !important;
}
.light-red {
	background-color: #EC918A !important;
}

.light-blue {
	background-color: #8BC9C5 !important;
}

.green {
	background-color: #A3D39C !important;
}
.dark-blue {
	background-color: #35404F !important;
}
.light-gray {
	background-color: #c8cbcf !important;
}

.button-icon {
	font-size: 3em;
}

.button-text {
	font-size: 1.5em;
	display: inline;
	position: relative;
	top: -.5em;
	padding-left: .5em;
}

.stats-box {
  min-height: 120px;
  color: #eee;
  h3{
    font-size: 20px;
    font-weight: bold;
    opacity: .5;
    margin-bottom: 10px;
  }
  a {
    color: #8BC9C5;
  }
  a:hover {
    text-decoration: underline;
  }
  padding: 6px 10px;
  margin-bottom: 10px;
}
.stat-label, .stat-data {
  display: inline;
}
.stat-label {
  clear: both;
  margin-right: 15px;
}
.completion-message{
	display: none;
}
.game-score {
	font-size: 1.5em;
	background-color: $blue-green;
	padding: 3px 7px;
	display:none;
}
.score-value, .score-label {
	display:inline;
	color: $dark-blue;
}
.lottery {
	display: none;
	font-size: 2.5em;
	line-height: 1.8em;
	font-family: 'Oswald', sans-serif;
	padding: 0 7px;
	margin-right: 6px;

	span {
    width: 50px;
    text-align: center;
    display: inline-block;
    color: $dark-blue;
	}
}

.col-33 {
	width: 31%;
	margin: 0 1%;
	display: inline-block;
}
