/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require flipper
 *= require spinner
 *= require social-share-button
 */

@import 'foundation-icons';

$dark-blue: #35404F;
$red: #E45F56;
$blue-green: #4AAAA5;
$light-gray: rgba(53, 64, 79, 0.71);
.blue {
	background-color: #7ACCC8 !important;
}
.blue-green {
	background-color: #4AAAA5 !important;
}
.red {
	background-color: #E45F56 !important;
}
.light-red {
	background-color: #EC918A !important;
}

.light-blue {
	background-color: #8BC9C5 !important;
}

.green {
	background-color: #A3D39C !important;
}
.dark-blue {
	background-color: #35404F !important;
}
.light-gray {
	background-color: #c8cbcf !important;
}

p {
  color: rgba(53, 64, 79, 0.71);
}
.reveal-modal .close-reveal-modal, dialog .close-reveal-modal {
  top: 0px;
}

.button-icon {
	font-size: 3em;
	color: white;
}

i {
  color: $dark-blue;
  margin-right: 4px;
  font-size: 1.1em;
}

.button-text {
	font-size: 1.5em;
	display: inline;
	position: relative;
	top: -.5em;
	padding-left: .5em;
	color: white;
}
.header-button {
  font-size: 1.1em !important;
  padding-left:12px !important;
  padding-right:12px !important;
  top: 5px !important;
}
.stats-box {
  min-height: 120px;
  h3{
    font-size: 20px;
    font-weight: bold;
    opacity: .5;
    margin-bottom: 10px;
    color: $dark-blue;
    text-transform: uppercase;
  }

  h5 {

margin-top: 15px;
font-size: 20px;
  }
  a {
    color: #8BC9C5;
  }
  a:hover {
    text-decoration: underline;
  }
  label,span {
    display: block;
    text-align:center;
  }
  label {
    font-size: 17px;
    text-transform:uppercase;
  }
  span {
    font-size: 16px;
    color: #111;
  }
  padding: 6px 12px;
  margin-bottom: 15px;
  background-color: rgba(232, 234, 237, 0.71);
}
.stat-label, .stat-data {
  display: inline;
  color: gray;
  line-height: 30px;
}
.stat-label {
  clear: both;
  margin-right: 15px;
}
.completion-message{
	display: none;
}
.game-title {
  color: $dark-blue;
  font-weight: bold;
}
.game-desc, .game-inst {
  color: $dark-blue;
  font-size: 1.1em;
  margin-bottom: 10px;
}
.game-score {
	font-size: 1.5em;
	background-color: $red;
	padding: 3px 7px;
	display:none;
}
.score-value, .score-label {
	display:inline;
	color: $dark-blue;
}
.lottery {
	display: none;
	font-size: 2.5em;
	line-height: 1.8em;
	font-family: 'Oswald', sans-serif;
	padding: 0 7px;
	margin-right: 6px;

	span {
    width: 50px;
    text-align: center;
    display: inline-block;
    color: $dark-blue;
	}
}

.grid-piece {
  background-color: #ccc;
  margin: 0px;
  display: inline-block;
  font-size: 80px;
  padding: 4px 0px;
  width: 100px;
  margin-bottom: 4px;
  text-align:center;
  line-height: 80px;
  span {
    color: #000;
  }
}

#user-menu-icon {
  i {
    font-size: 33px;
    color: #fff;
  }
  margin-top:-2px;
  margin-right: 15px;
}
#play {
  display:none;
}
#games, #user-menu {
  background-color: #35404f;
  padding: 0px;
  position: absolute;
  top:45px;
  z-index: 900;
  border: 1px solid #35404f;
  display:none;
  a, i {
    color: #eee;
  }
}
#user-menu {
  right: 15px;
}
.game-listing:hover {
  background-color: #4aaaa5;
  a, i {
    color: #fff;

  }

}
/* comments */

.comment {
  position: relative;
  text-align: left;
  margin-bottom: 3px;
}


.comment-delete {
  display: block;
  position: absolute !important;
  width: 18px;
  height: 18px;
  line-height: 16px;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  top: 2px;
  right: 2px;
  padding: 3px;
  background: #ccc;
}
.comment-delete:hover {
  background: #bbb;
  text-decoration: none;
}
.comment-left {
  float: left;
  padding: 3px;
  width: 54px;
  height: 54px;
  margin-right: -60px;
  min-width: 40px;
  min-height: 40px;
  overflow: hidden;
  background-color: #395771;
}
.comment-content {
  float: left;
  width: 100%;

}
.comment-right {
  margin-left: 60px;
  padding: 0px 10px;
}
.comment-meta {
  margin-right: 40px;
}
.comment-author {
  float: left;
  font-size: 16px;
  color: #000;
}

.comment-show-reply {

  font-size: 13px;

}
.comment-date {
  float: right;
  font-size: 12px;
  padding-top: 4px;
  margin-right: 5px;
}
.comment-meta, .comment-meta a {
  color: #395771;
}
.comment-block p {
  margin-bottom: 10px;
  margin-top: 0;
}



.delete-link {
  background: url('profile.svg') no-repeat 2px 2px;
  background-size: 15px;
  width: 20px;
  height: 20px;
  float: right;
}
.edit-link {
  background: url('profile.svg') no-repeat 2px 2px;
  background-size: 15px;
  width: 20px;
  height: 20px;
  float: right;
}

/* form styling */

.basic-form {
  margin: 0 25px;
}


@media screen and (max-width:479px) {
  .col-33 {
    width: 100%;
    display: inline-block;

  }
}