.login-form {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px 25px;
  background-color: #ccc;
  label {
    font-size: 1.2em;
  }
  button {
    display: inline;
  }


}

a {
  font-size: 1.2em;
  color:#35404F;
}
.centered {
  text-align: center;
}
