%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p © Copyright A Playground for the Mind
      .large-6.columns
        %ul.inline-list.right
          %li
            =link_to "About", pages_path("about")
          %li
            =link_to "How it Works", pages_path("how_it_works")
          %li
            =link_to "Privacy Policy", pages_path("privacy")
          %li
            =link_to "Contact Us", "/contact-us"
          -if user_signed_in?
            %li
              = link_to "Log out", destroy_session_path(:user), :method => :delete