%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        =link_to root_path do
          =image_tag('logo.png', :size=>'35x35')
          Good Luck
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    -if user_signed_in?
      %ul.right
        %li#play.has-form{:style => 'padding-right: 3px !important;'}
          %button.header-button

            Play Games
            %i.fi-play
          #games
            -@games = Game.all
            -@games.each do |g|
              =render :partial => 'games/menu_listing', :locals => {game:g}
        %li.has-form{:style => 'padding-right: 3px !important;'}
          =link_to pages_path('leaderboard'), :class=>'button header-button' do
            %i.fi-crown
            Leaderboard
        %li#user-menu-icon.has-form{:style => 'padding-right: 3px !important;'}

          %i.fi-torso-female
          #user-menu
            .game-listing
              =link_to destroy_user_session_path, :method => 'delete' do
                logout
    -else
      %ul.right
        %li.has-form{:style => 'padding-right: 3px !important;'}
          =link_to new_user_session_path, :class=>'button header-button' do
            Login
        %li.has-form{:style => 'padding-right: 3px !important;'}
          =link_to  new_user_registration_path, :class=>'button header-button' do
            Register

